.card{
    width: 200px;
    box-shadow: 2px 2px 6px black;
    display: inline-block;
    border-radius: 10px;
    transition: 1s;
    margin-left: 12px;
}
.disc{
    text-transform: capitalize;
    padding: o 5px 0 5px;
    text-align: center;
}
img{
    width: inherit;
    border-radius: 10px 10px 0 0;
}
.card:hover{
    box-shadow: 4px 4px 12px rgb(255, 232, 20);
    scale: 1.2;
    transform: translate(10px, 50px);
}

