<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Meassage</title>
</head>
<body>
    <h2>editing message of <%= chat.from %></h2>
    <form method="post" action="/chats/<%= chat.id %>?_method=PUT">
        <textarea name="message" rows="8" cols="50"><%= chat.message %></textarea><br>
        <button>Edit</button>
    </form>
</body>
</html>