<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send New Message</title>
</head>
<body>
    <h2>write your message </h2>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="from:">
        <br>
        <br>
        <input type="text" name="to" placeholder="to:">
        <br>
        <br>
        <textarea type="text" name="message">Write your meaage here.</textarea>
        <br>
        <br>
        <button>Submite</button>
    </form>
</body>
</html>