<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is home page.</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero soluta hic recusandae repudiandae id nostrum veniam blanditiis voluptates labore eaque sapiente corporis, amet aliquid vero minus pariatur numquam dolores minima?</p>
    <button>cleck me</button>    
</body>
</html>