body{
    text-align: center;
}

.btn-cont{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 10px;
    margin: 1rem;
}

.yel{
    background-color: #f99b45;
}

.red{
    background-color: #d95980;
}

.green{
    background-color: #63aac0;
}

.pur{
    background-color: #819ff9;
}